:root {
    --font1: "Oswald", sans-serif;
    --font2: "Poppins", sans-serif;
    --font3: "Racing Sans One", cursive;
}
$color1: #14202d;
$color2: #505071;
$color3: #bacbed;
$color4: #fff;
$color5: #d5d9e1cf;
$bg-color: #4B5D67;
$padding: 20px;